table
{
    border: none;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

table td
{
    border-left: 1px solid white;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 3pt;
    padding-right: 3pt;
}

table td:first-child
{
    border-left: none;
}

.headerRow
{
    background-color: #BBBBBB;
}

.typeRow
{
    font-size: 12pt;
    color: white;
    background-color: #999999;
    white-space: nowrap;
}

.hrNo
{
    text-align: center;
    color: white;
    font-size: 10pt;
    width: 1%;
}

.hrField
{
    text-align: left;
    color: white;
    font-size: 10pt;
    width: 15%;
}

.hrComment
{
    text-align: left;
    color: white;
    font-size: 10pt;
    width: 20%;
}

.hrType
{
    text-align: left;
    color: white;
    font-size: 10pt;
    width: 20%;
}

.hrConstraint
{
    text-align: left;
    color: white;
    font-size: 10pt;
    white-space: nowrap;
    width: 1%;
}

.hrConstraint2
{
    text-align: left;
    color: white;
    font-size: 10pt;
}

.hrOptional
{
    text-align: left;
    color: white;
    font-size: 10pt;
    white-space: nowrap;
    width: 1%;
}

.hrMin
{
    text-align: left;
    color: white;
    font-size: 10pt;
    white-space: nowrap;
    width: 1%;
}

.hrMax
{
    text-align: left;
    color: white;
    font-size: 10pt;
    white-space: nowrap;
    width: 1%;
}

.CommentRow
{
    background-color: #e9e9e9;
    height: 18pt;
}

.OddRow
{
    background-color: #e9e9e9;
    height: 18pt;
}

.EvenRow
{
    background-color: #DBDBDB;
    height: 18pt;
}

.no
{
    text-align:  center;
    color: black;
    font-size: 9pt;
}

.field
{
    text-align: left;
    color: black;
    font-size: 9pt;
}

.comment
{
    color: black;
    font-size: 9pt;
    text-align: left;
}

.comment2
{
    color: black;
    font-size: 9pt;
    text-align: left;
}

.threeDots
{
    color: black;
    font-size: 9pt;
    text-align:center;
}

.type
{
    text-align: left;
    color: black;
    font-size: 9pt;
}

.constraint
{
    text-align: left;
    color: black;
    white-space: nowrap;
    font-size: 9pt;
}

.optional
{
    text-align: left;
    color: black;
    font-size: 9pt;
    white-space: nowrap;
}

.min
{
    text-align: right;
    color: black;
    font-size: 9pt;
}

.max
{
    text-align: right;
    color: black;
    font-size: 9pt;
}

h1
{
    font-family: Verdana, Sans-Serif;
    color: black;
    font-size: 14pt;
}

h2
{
    font-family: Verdana, Sans-Serif;
    color: black;
    font-size: 12pt;
}

a
{
    color: black;
}

a.fileLink
{
    color: white;
}

a.acnParamsLink
{
    color: white;
    text-decoration: none;
    vertical-align: super;
    font-size: 8pt;
}

ul.enumeration
{
    list-style-type: square;
    margin-top: 0pt;
    margin-bottom: 1pt;
    padding-left: 20pt;
}

font.enumeration_name
{
    font-style: italic;
}