Antlr/acn.tokens
Antlr/acnLexer.cs
Antlr/acnParser.cs
Antlr/asn1.tokens
Antlr/asn1Lexer.cs
Antlr/asn1Parser.cs
Asn1f2/Resource1.resources
Asn1f2/Resources/
Asn1f2/bin/
*/bin/
*/*.gen.fs
/ch.gen.fs
/xer.gen.fs
Backend.c.ST/xer.stg
Backend.c/bin/
Backend2.ST/ACN.fs
Backend2.ST/ASN.fs
Backend2.ST/bin/
Asn1.userprefs
*/bin/
*/obj/
